<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
</head>
<body>
    <!-- <div class="container">
      <div class="tituloForm">
        <h1>inicia sesion tranki pa</h1>
      </div>
      <form action="" method="" onsubmit="return false">
        <label for="nombre">ingrese un nombre</label>
        <input id="nombre" name="nombre" class="usuario" type="text" placeholder="" value="">
        <button id="ingresar" type="submit">ingresar</button>
      </form>
</div> -->
<div class="div">
  <img src="../assets/fondo.jpg" alt="" srcset="">
  <div class="info-invitados">
    <h1>bienvenidop a mi purgatorio</h1>
    <h2>el mas hermoso</h2>
    <h2>invitado vip</h2>
    <h2>mesa numero 66 la ultima</h2>
    <img class="img" src="../assets/elmashermoso.jpg" alt="">
  </div>
  

</div>
    
<script src="main.js"></script>
</body>
</html>