<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/juego.css">
    <title>Document</title>
</head>
<body>
   
    
    <div id="container"class="container">
          <button id="btn-iniciar"class="btn-iniciar">iniciar juego
        </button>
       
       <div class="pantalla">
        <div class="puntaje">
            <h2>HOLA <span id="nombre"></span> HOY VAS A ROMPER LOS 5000 PUNTOS?</h2>
            <h2>SCORE: <span id="score"></span></h2>
            <h2>BEST SCORE: <span id="bestScore"></span></h2>
        </div>
        <div id="tablero"  class="tablero">
        </div>
    </div>
        
    </div>
    
    <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
    <script src="../JS/juego.js"></script>
</body>
</html>
