<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="tituloForm">
            <h1>registrate con confianza pa</h1>
          </div>
        <form action="">
            <label for="nombre">ingrese nombre de usuario</label>
            <input id="nombre" type="text" name="nombre">
            <label for="contraceña">ingrese una contraseña</label>
            <input id="contraceña" type="password"name="contraceña">
            <label for="repetirContraceña">ingrese nuevamente su contraseña</label>
            <input id="repetirContraceña" type="password"name="repetirContraceña">
            <button id="registrarse" type="submit">registrarse</button>
        </form>
    </div>
    <script src="../JS/register.js"></script>
</body>
</html>