*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.invitado{
    border: 2px solid black;
    width: 30%;
    height: 5rem;
    margin: 2px ;
    background-color: rgb(222, 188, 114);
    text-align: center;
    color: rgb(0, 0, 0);
}

/* Animaciones CSS */
@keyframes dropAndBounce {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    25% {
        transform: translateY(100px);
        opacity: .3;
    }
    50% {
        transform: translateY(-50px);
        opacity: 1;
    }

    75% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
    }
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.imgContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: 0 1rem;
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    animation: dropAndBounce 7s ease-out;
}
