*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
img{
    border: 5px solid blue;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.invitado{
    border: 2px solid black;
    width: 30%;
    height: 5rem;
    margin: 2px ;
    background-color: rgb(222, 188, 114);
    text-align: center;
    color: rgb(0, 0, 0);
}